//<editor-fold desc="Imports">
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../src/node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here


// 3. Include remainder of required Bootstrap stylesheets
@import "../src/node_modules/bootstrap/scss/variables";
@import "../src/node_modules/bootstrap/scss/mixins";
@import "../src/node_modules/bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "../src/node_modules/bootstrap/scss/root";
@import "../src/node_modules/bootstrap/scss/reboot";
@import "../src/node_modules/bootstrap/scss/type";
@import "../src/node_modules/bootstrap/scss/images";
@import "../src/node_modules/bootstrap/scss/containers";
@import "../src/node_modules/bootstrap/scss/grid";
@import "../src/node_modules/bootstrap/scss/tables";
@import "../src/node_modules/bootstrap/scss/forms";
@import "../src/node_modules/bootstrap/scss/buttons";
@import "../src/node_modules/bootstrap/scss/transitions";
@import "../src/node_modules/bootstrap/scss/dropdown";
@import "../src/node_modules/bootstrap/scss/button-group";
@import "../src/node_modules/bootstrap/scss/nav";
@import "../src/node_modules/bootstrap/scss/navbar";
@import "../src/node_modules/bootstrap/scss/card";
@import "../src/node_modules/bootstrap/scss/accordion";
@import "../src/node_modules/bootstrap/scss/breadcrumb";
@import "../src/node_modules/bootstrap/scss/pagination";
@import "../src/node_modules/bootstrap/scss/badge";
@import "../src/node_modules/bootstrap/scss/alert";
@import "../src/node_modules/bootstrap/scss/progress";
@import "../src/node_modules/bootstrap/scss/list-group";
@import "../src/node_modules/bootstrap/scss/close";
@import "../src/node_modules/bootstrap/scss/toasts";
@import "../src/node_modules/bootstrap/scss/modal";
@import "../src/node_modules/bootstrap/scss/tooltip";
@import "../src/node_modules/bootstrap/scss/popover";
@import "../src/node_modules/bootstrap/scss/carousel";
@import "../src/node_modules/bootstrap/scss/spinners";
@import "../src/node_modules/bootstrap/scss/offcanvas";
//</editor-fold>


// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}