//<editor-fold desc="Imports">
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../src/node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../src/node_modules/bootstrap/scss/variables";
@import "../src/node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../src/node_modules/bootstrap/scss/root";
@import "../src/node_modules/bootstrap/scss/reboot";
@import "../src/node_modules/bootstrap/scss/type";
@import "../src/node_modules/bootstrap/scss/images";
@import "../src/node_modules/bootstrap/scss/containers";
@import "../src/node_modules/bootstrap/scss/grid";
//</editor-fold>

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}