

#body {
    background: linear-gradient(rgb(122, 159, 248), rgb(231, 231, 231));
}

a.anchor {
    display: block;
    position: relative;
    top: -76px;
    visibility: hidden;
}

#headshot {
    max-width: 250px;
}

.sm-border{
    position: relative;
    top: -48px;
}

/*Selects all div with IDs that contain "card overlay"*/
div[id*="card-overlay"] {
    height: min-content;
    opacity: 85%;
}

div[id*="card-overlay"] :hover {
    /*Do something neat*/
}

#nav {
    background: rgba(255, 255, 255, 0);

}

.card {
    margin: 2em 0;
    background: white;
    box-shadow: 0 0 5px 10px white;

}

[id*='portfolio']:nth-of-type(even) {
    padding-left: 15vw;
    padding-right: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

[id*='portfolio']:nth-of-type(odd) {
    padding-right: 10vw;
    padding-left: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

div[id*="front-card"] {
    max-height: 16em;
    overflow: hidden;
}

.frontend-logo {
    border:0;
    height: 150px;
}
p.skill-title {
    text-align: center;
    font-weight: bold;
}
#skill-list {
    min-width: 135px;

}
.sublist {
    list-style: "• ";
}


