/*#welcome {*/
/*    background-image: url("./assets/cranes-banner.jpg");*/
/*    background-position: center;*/
/*}*/

#headshot {
    max-width: 250px;
}
body {
    background: linear-gradient(rgb(205, 251, 249), rgb(183, 189, 188));

}
/*#frontend {
    background-image: url("assets/cranes.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}*/

/*Selects all div with IDs that contain "card overlay"*/
div[id*="card-overlay"] {
    height: min-content;
    opacity: 85%;
}

div[id*="card-overlay"] :hover {
    /*Do something neat*/
}

div[id*="frontend"] {
    margin: 2em 0;
}

div[id*="front-card"] {
    max-height: 16em;
    overflow: hidden;
}

.frontend-logo {
    vertical-align:bottom;
    border:0;
}
#skill-list {
    min-width: 135px;
}
.sublist {
    list-style: "• ";
    padding-left: 1em;
}
