body {
    font-family: Calibri, sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: min-content min-content 1fr
}

h1 {
    height: border-box;
    grid-column: 2;
    grid-row: 1;
}

.list {
    display: block;
    padding-left: 1em;
}

#writeup {
    border: 2px solid lightsteelblue;
    padding: 0 8px;
    max-width: 65em;
    grid-column: 2;
    grid-row: 2;
}

#persona {
    grid-column: 2;
    grid-row: 3;
}
#layout {
    height: min-content;
    grid-column: 1;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr 1fr 1fr;
    grid-template-areas:
            "a b1 b2 b2 ."
            "a c d e f"
            "a c d e f"
            "a c d e f";
    grid-gap: 5px;
}

#layout > * {
    padding: 0 8px;

}

.summary {
    background-color: lightsteelblue;
}

.detail {
    background-color: lightgray;
}

.title {
    display: block;
    width: available;
}

#portrait {
    width: border-box;
    padding: 0;
    grid-area: a;
}
#portrait > img {
    height: 400px;
}

#name {
    grid-area: b1;
    height: border-box;
    justify-content: center;
}

.summary h2 {
    text-align: center;
}

#role {
    grid-area: b2;
    width: available;
    height: border-box;
}

.detail {
    margin-top: 20px;
}

#details {
    grid-area: c;
}
#frustrations {
    grid-area: d;
}
#needs{
    grid-area: e;
}
